indent_style = space
indent_size = 2
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 100
ij_javascript_use_double_quotes = true
ij_less_use_double_quotes = true
ij_html_quote_style = double
