.menu__toggle {
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:hover {
        .menu__burger:before,
        .menu__burger:after,
        .menu__burger {
            background-color: #007bff;
            width: 24px;

            @media (max-width: 600px) {
                transform: translate(0, 0px);
                background-color: #000;
            }
        }

        .menu__burger:after {
            transform: translate(0, 2px);
        }

        .menu__burger:before {
            transform: translate(0, -2px);

            @media (max-width: 600px) {
                width: 20px;
            }
        }
    }
}

.menu__burger:before,
.menu__burger:after,
.menu__burger {
    width: 24px;
    height: 3px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    background: #000;
    border-radius: 99px;
}

.menu__burger {
    position: relative;
    display: block;

    &:after {
        top: -8px;
    }

    &:before {
        top: 8px;
        width: 20px;
    }
}

.menu__burger:before,
.menu__burger:after {
    content: "";
    display: block;
    position: absolute;

    @media (max-width: 600px) {
        right: 0;
    }
}

.menu__checkbox {
    display: none;
    visibility: hidden;
    width: 0;
    height: 0;
}

.menu__checkbox:checked + .menu__toggle .menu__burger,
.menu__checkbox:checked + .menu__toggle .menu__burger:before,
.menu__checkbox:checked + .menu__toggle .menu__burger:after {
    color: #007bff;

    @media (max-width: 600px) {
        background-color: #007bff;
    }
}

.menu__checkbox:checked + .menu__toggle .menu__burger:before {
    transform-origin: 50% -140%;
    top: 7px;
    width: 18px;
    transform: rotate3d(0, 0, 1, 45deg);

    @media (max-width: 600px) {
        transform: translate(0, -2px);
        transform: rotate3d(0, 0, 1, -45deg);
    }
}

.menu__checkbox:checked + .menu__toggle .menu__burger:after {
    transform-origin: 50% 240%;
    top: -7px;
    width: 18px;
    transform: rotate3d(0, 0, 1, -45deg);

    @media (max-width: 600px) {
        transform: translate(0, 2px);
        transform: rotate3d(0, 0, 1, 45deg);
    }
}
