.dark-mode {
    $dark-mode-bg-color: lighten(#000000, 15%);

    background-color: $dark-mode-bg-color;
    color: $gray-200;

    .text-white {
        color: $gray-200 !important;
    }

    .sidebar {
        background-color: $dark-mode-bg-color !important;

        &__logo {
            filter: invert(1);
        }
    }

    a {
        color: $light !important;
    }

    .navigation--active {
        background-color: $dark-mode-bg-color !important;
    }

    .menu__burger:before,
    .menu__burger:after,
    .menu__burger {
        background-color: $light !important;
    }

    .menu__toggle:hover .menu__burger:before,
    .menu__toggle:hover .menu__burger:after,
    .menu__toggle:hover .menu__burger {
        background-color: darken($light, 25%) !important;
    }

    .menu__item--active .menu__link,
    .menu__link:hover,
    .menu__link:focus,
    .menu__link:active {
        color: darken($light, 50%) !important;
    }
}
