.dark-mode {
  $dark-mode-bg-color: lighten(#000000, 15%);

  background-color: $dark-mode-bg-color;
  color: $gray-200;

  .text-white {
    color: $gray-200 !important;
  }

  a {
    color: $light !important;
  }
}
