::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f5f6fa;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
    background: theme-color('primary');
}

::-webkit-scrollbar-thumb:hover {
    background: theme-color('primary');
    opacity: 0.8;
}
